CODEOWNERS
*         @arthurbleilzup @arthurribeirozup @carolinegoncalveszup @evertonrodrigueszup @gabrielafagundeszup @hectorcustodiozup @jamessonpenhazup @leonardosantiagozup @magnolemoszup @pedronaveszup @rafamsilva @tarcisiogc @tayronemachadozup @tiagoperes     
